@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-inter {
        font-family: "Inter", sans-serif;
    }

    .font-noto-serif {
        font-family: "Noto Serif", serif;
    }
}

@layer theme {
    .active-nav {
        color: #252432;
    }

    .inactive-nav {
        color: #8987A1;
    }

    .highlight {
        color: #E95A08;
    }

    .gray-1 {
        color: rgba(0, 0, 0, 0.5);
    }

    .gray-2 {
        color: rgba(0, 0, 0, 0.4);
    }

    .footer-nav-color {
        color: #6B7280;
    }
}

.btn-bg {
    background-color: #E95A08;
}

.btn-bg:hover {
    background-color: #b84706;
}